h1{
    background-color: blue;
    padding: 50px;
    text-align: center;
}
body{
    background-color: cadetblue;
    margin-right: 600px;
    margin-left: 200px;
    border: 1px solid wheat;
}
img{
    float: right;
    height: 300px;
    width: 300px;
    border-radius: 4cm;
}
.column{
    width: 350px;
    float: inline-end;
    font-size: x-large;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    padding: auto;
    border: 2px solid black; 
}
.par1{
    margin-left: 2px;margin-right: 100px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, seriff;
    font-weight: 100;
}
#hh{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
#pp{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
.li{
    font-style: italic;
    font-weight: bold;
}
nav {
    width: 30%;
    height: 100px;
    padding: 20px;
  }
  
  nav ul{
      font-size: x-large;
      font-family: 'Times New Roman', Times, serif;
  }
  .profile{
      border: 2px solid black;
      font-size: x-large;
      font-family: 'Times New Roman', Times, serif;
      padding-left: 20px;
      
  }
  .skill{
    border: 2px solid black;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    
  }
  .work{
    border: 2px solid black;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    
  }
  .career{
    border: 2px solid black;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    
  }
  .education{
    border: 2px solid black;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    
  }
  .hobbies{
    border: 2px solid black;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    
  }